.header {
    height: fit-content;
    h3 {
        color: $color-1;
    }
    .container {
        padding-top: 50px;
        align-items: center;

        .navigation {
            &.hidden {
                display: none;
            }
        }
        .burger-menu {
            overflow: visible !important;
            transition: all ease-in 0.3s;
            // &:hover {
            //     transition: all ease-in 0.3s;
            //     svg {
            //         :nth-child(1)  {
            //             transition: all ease-in 0.3s;
            //             transform: rotate(-4.5deg);
            //         }
            //         :nth-child(2)  {
            //             transition: all ease-in 0.3s;
            //             transform: rotate(5deg);
            //         }
            //         :nth-child(3)  {
            //             transition: all ease-in 0.3s;
            //             transform: rotate(1.5deg);
            //         }
            //     }    
            // }
        }

        .navigation a:not(:last-child) {
            margin-right: 30px !important;

        }
        .navigation a {
            transition: all ease-in 0.15s;
            &:hover {
                transition: all ease-in 0.15s;
                transform: scale(1.1);
            }
            h3 {
                font-weight: 700;
                font-size: 1.7vw;
                margin-top: 0;
                margin-bottom: 10px;
            }
            .contact, .faq {
                margin-bottom: 0;
            }
        }
    }
}


.our-games {
        picture {
            z-index: -1 !important;
            img {
                position: relative;
                z-index: -1 !important;
                transition: all ease-in 0.17s;
            }
            &:hover {
                z-index: -1 !important;
                img {
                    z-index: -1 !important;
                    position: relative;
                    transition: all ease-in 0.17s;
                    transform: scale(1.03);
                    // filter: blur(0.45px);
                }
            }
        }
        p {
            font-size: 1.95vw;
            font-weight: 600 !important; 
        }
        .headings { 
            width: 100%;
            align-items: center;
            height: 50% !important;
         }
        .heading-33 {
            svg {
                width: 30.5% !important;

            }
        }
        .heading-67 {
            svg {
                width: 22.5% !important;
            }
        }
        .image-blocks-67, .heading-67 {
            width: 67%;
        }
        .image-block-33, .heading-33 {
            width: 33%;
        }

        .image-blocks-100 {
            h2 {
                font-size: 2.3vw;
            }
            .block {
                width: calc(33% - 10px);
                transition: all ease-in 0.3s;
                h3 {
                    font-weight: 700;
                    font-size: 1.7vw;
                    text-align: center;
                }
                svg {
                    margin-top: 40px;
                    width: 26% !important;
                    height: 50%!important;

                }
                .svg-reprobates {
                    width: 50% !important;
                }

                .troÑn, .reprobates {
                    width: 100% !important;
                    height: 50% !important;
                    margin-top: 0px !important;
                    justify-content: center !important;
                    text-align: center !important;
                    svg {
                        z-index: 3 !important;
                    }
                    p {
                        margin-top: 40px !important;
                    }
                }
            }
            // .third-game {
            //     width: 100%;
            //     picture {
            //         text-align: center !important;
            //         justify-content: center !important;
            //         img {
            //             width: 48.4%;
            //             text-align: center !important;
            //             justify-content: center !important;
            //         }
            //     }
            // }
        }
    .image-blocks-67 {
        &:nth-child(2) {
            img {
            padding-left: 20px;
            }
        }
    }
}

.images {
    .images-25-75 {
        picture {
            height: 40vh;
            &:nth-child(1) {
                width: 30%;
            }     
            &:nth-child(2) {
                width: calc(70% - 50px);
                padding-left: 50px;
            }
        }
    }
}


.footer {
    h3 {
        font-weight: 700;
    }
    p {
        font-weight: 400;
    }

    .footer-container {
        height: fit-content;
        margin: 50px 120px 0;
        .footer-columns {
            // align-items: center !important;
            width: 100%;
            // justify-content: space-between !important;
            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }
            p {
                position: relative;
                transition: opacity ease-in 0.3s; 
                cursor: pointer;
                margin: 0;
                margin-bottom: 3px;
                padding: 0;
                font-family: $font-name-3 !important;
            }

            p::after{
                transition: all ease-in 0.15s; 
                content: ' ';
                position: absolute;
                top: 4px;
                left: -10px;
                opacity: 0;
                width: 8px !important;
                height: 8px !important;
                background: $color-3;
                border-radius: 0px !important;
                z-index: 5;
                
            }   

            .hover-p:hover > div p {
                transition: opacity ease-in 0.3s; 
                opacity: 0.5;
            }



            .hover-p:hover > div:hover {
                p {
                    transition: opacity ease-in 0.3s; 
                    opacity: 1;
                }
                p::after {
                    transition: all ease-in 0.15s; 
                    left: 108%;
                    opacity: 1;
                }
            }

        }
        .footer-bottom-text {
            align-items: flex-end;
            padding-top: 100px;
            padding-bottom: 10px;
            width: 100%;
            p {
                font-size: 0.9vw;
                font-weight: 700;
            }
            img {
                width: 8%;
            }
        }
        .social-pictures {
            a:not(.left-empty, .right-empty) {
                position: relative;
                // box-shadow: 0px 0px 0px 7px rgb(86, 86, 86) inset;
                z-index: 2 !important;
            }
            a:not(.left-empty, .right-empty)::after {
                content: " " !important;
                display: block !important;
                position: absolute !important;
                top: 2.8px !important;
                left: -2.8px !important;
                width: 50px !important;
                height: 50px !important;
                background: rgb(86, 86, 86) !important;
                border-radius: 12px !important;
                z-index: -1 !important; 
            }
            a:not(.left-empty, .right-empty):hover {
                svg {
                    position: relative;
                    top: 2.8px;
                    left: -2.8px;
                    z-index: 1 !important;
                }
            }   

            margin-top: 20px;
            .tiktok, .vk, .instagram , .facebook, .left-empty, .right-empty {
                position: relative !important; 
            }
            .youtube, .vk {
                position: absolute !important;
                z-index: 100 !important;
                fill: white;
            }
            .youtube {
                width: 37%;
                top: -7%;
                left: 33%;
                transform: scale(0.85);
                opacity: 0;
                transition: all ease-in 0.15s; 
            }
            .vk {
                width: 68%;
                top: -16%;
                left: 16%;
                transform: scale(0.85);
                opacity: 0;
                transition: all ease-in 0.15s; 
            }
            .youtube, .vk {
                transition: all ease-in 0.15s; 
                &:hover {
                    transform: scale(1);
                    opacity: 1;
                }
            }
            .instagram, .left-empty, .right-empty {
                left: -12px;
            }
            .instagram, .behance {
                margin-left: 8px;
                margin-right: 8px;
            }
        }
    }
}