body, html {
    &.no-scroll {
        margin: 0 !important; 
        height: 100% !important; 
        overflow: hidden !important; 
    }
}

// .our-games, .images, .footer {
//     &.fixed-pos {
//         position: fixed !important;
//         overflow: hidden !important;
//         // top: 50vh;
//     }
// }

.header {
    position: flex;

    z-index: 1000 !important;
    background: transparent !important;
    &.bc-black {
        background: black !important;
    }
    .bc-header {
        background: black !important;
        position: fixed !important;
        width: 100% !important;
        height: 23vh !important;
        top: 0;
        left: -100vw;             
        transition: all ease-in 0.18s;
        z-index: -1 !important;
        &.open {
            left: 0vw;
            transition: all ease-in 0.18s;
        }
    }
    .burger-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2500 !important;
        max-width: 1900px !important;
        // background: transparent;
        width: calc(100vw - 260px) !important;
        .burger-menu {
            height: 15vh !important;
            display: flex !important;
            width: 10% !important;
            justify-content: flex-end !important;
            align-items: center !important;
            // position: fixed !important;
            pointer-events: none;
            // top: 10vh !important;
            // left: 90vw !important;
            opacity: 0; 
            // transition: opacity ease-in 0.3s;
            svg {
                position: relative !important;
                left: 85.6vw !important;
                // justify-content: flex-end !important;
                width: 100% !important;
                height: 24% !important;
                :nth-child(1), :nth-child(2), :nth-child(3) {
                    transition: all ease-in 0.3s;
                    transform: translate(0, 0) rotate(0deg);
                }
            }

            &.close {
                z-index: 3000 !important;
                opacity: 1 !important;
                pointer-events: all !important;
                svg {
                    // position:;
                    // top: 5% !important;
                    // left: 80% !important;
                    // width: 75% !important;
                    transition: all ease-in 0.3s;
                    :nth-child(1)  {
                        transition: all ease-in 0.3s;
                        position: relative;
                        transform: translate(12px, -1.5px) rotate(45deg);

                    }
                    :nth-child(3)  {
                        transition: all ease-in 0.3s;
                        position: relative;
                        transform: translate(-13px, 10.5px) rotate(-45deg);
                    }
                    :nth-child(2)  {
                        transition: all ease-in 0.3s;
                        position: relative;
                        top: 0px;
                        left:0;
                        transform: rotate(90deg);
                        opacity:0;
                        width:0;
                    }
                }
            }
        } 
    }
    .navigation-mobile {
        width: 100% !important;
        margin: 0 auto !important;
        height: 100vh !important;
        background-color: black;
        z-index: 1001 !important;
        position: fixed;
        left: -100vw;
        top: 0vh;
        transition: all ease-in 0.18s;
        margin-top: 15px !important;
        &.open-nav {
            left: 0vw;
            transition: all ease-in 0.18s;
        }

        .navigation-mobile-options {
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
            width: 100% !important;
            height: 100% !important;
            h3 {
                margin-bottom: 15px !important;
            }
        }

    }    
    height: fit-content;
    h3 {
        color: $color-1;
    }
    .container {
        padding-top: 50px;
        align-items: center;
        z-index: 3000 !important;
        .logo {
            width: 33% !important;
            svg {
                width: 72%;
                margin: 0 auto;
            }
        }
        .navigation {
            &.hidden {
                display: none;
            }
        }
        
        .navigation {
            transition: all ease-in 0.2s !important;
            z-index: 4000 !important;
            &.nav-none {
                display: none !important;
            }
            // &.nav-opacity {
            //     transition: all ease-in 0.2s !important;
            //     opacity: 0 !important;
            // }    
            //     :nth-child(1) {
            //         transition: all ease-in 0.2s;
            //         transform: translate(200%, 0);
            //     }
            //     :nth-child(2) {
            //         transition: all ease-in 0.2s;
            //         transform: translate(130%, 0);
            //     }
            //     :nth-child(3) {
            //         transition: all ease-in 0.2s;
            //         transform: translate(60%, 0);
            //     }
            //     :nth-child(4) {
            //         transition: all ease-in 0.2s;
            //         transform: translate(20%, 0);
            //     }
            //     :nth-child(5) {
            //         transition: all ease-in 0.2s;
            //         transform: translate(0%, 0);
            //     }
            // }
        
        }
        .navigation a:not(:last-child) {
            margin-right: 30px !important;

        }
        .navigation a {
            transition: all ease-in 0.15s;
            &:hover {
                transition: all ease-in 0.15s;
                transform: scale(1.1);
                h3 {
                    transition: all ease-in 0.15s;
                    color: $color-3;
                }
            }
            h3 {
                font-weight: 700;
                font-size: 1.7vw;
                margin-top: 0;
                margin-bottom: 10px;
            }
            .contact, .faq {
                margin-bottom: 0;
            }
        }
    }
}


.our-games {
        // margin-top: 10% !important;
        picture {
            z-index: -1 !important;
            img {
                position: relative;
                z-index: -1 !important;
                transition: all ease-in 0.17s;
            }
            &:hover {
                z-index: -1 !important;
                img {
                    z-index: -1 !important;
                    position: relative;
                    transition: all ease-in 0.17s;
                    transform: scale(1.03);
                    // filter: blur(0.45px);
                }
            }
        }
        p {
            font-size: 1.95vw;
            font-weight: 600 !important; 
        }
        .headings { 
            width: 100%;
            align-items: center;
            height: 50% !important;
         }

        .heading-33, .heading-67 {
            svg {
                margin-bottom: 10px !important;
            }
        }
        .heading-33 {
            svg {
                width: 80% !important;
            }
        }

        .heading-67 {
            svg {
                width: 40% !important;
            }
        }

        .image-blocks-67, .heading-67 {
            width: 67%;
        }
        .image-block-33, .heading-33 {
            width: 33%;
        }

        .image-blocks-100 {
            transition: opacity ease-in 0.3s !important;
            h2 {
                font-size: 2.3vw;
            }
            .block {
                width: calc(33% - 10px);
                transition: all ease-in 0.3s;

                h3 {
                    font-weight: 700;
                    font-size: 1.7vw;
                    text-align: center;
                }
                svg {
                    width: 75% !important;
                    // height: fit-content !important;
                    height: 100%!important;
                    margin-top: 20px !important;
                }
                // .svg-reprobates::after, .svg-developer::after, .svg-troyan::after {
                //     transition: all ease-in 0.15s; 
                //     content: ' ';
                //     position: absolute;
                //     top: 4px;
                //     left: -100px;
                //     opacity: 0;
                //     width: 8px !important;
                //     height: 8px !important;
                //     background: $color-3;
                //     border-radius: 1000px !important;
                //     z-index: 5;
                // }

                .svg-reprobates {
                    margin-top: 23px !important;
                }

                .svg-developer {
                    margin-top: 23px !important;
                }




                // .svg-troyan {
                //     margin-top: 16px !important;

                // }


                .troÑn, .reprobates, .developer {
                    width: 100% !important;
                    height: 50% !important;
                    margin-top: 0px !important;
                    justify-content: center !important;
                    text-align: center !important;
                    svg {
                        z-index: 3 !important;
                    }
                    p {
                        margin-top: 40px !important;
                    }
                }
            }
            // .third-game {
            //     width: 100%;
            //     picture {
            //         text-align: center !important;
            //         justify-content: center !important;
            //         img {
            //             width: 48.4%;
            //             text-align: center !important;
            //             justify-content: center !important;
            //         }
            //     }
            // }
        }

        .image-blocks-100 > .block a picture, .image-blocks-100 > .block a div div svg  {
            transition: opacity ease-in 0.3s !important; 
        }
        .image-blocks-100:hover > .block a picture {
                opacity: 0.69 !important;
                transition: opacity ease-in 0.3s !important; 
        }

        .image-blocks-100:hover > .block a:hover {
            picture, div div svg {
                opacity: 1 !important;
                transition: opacity ease-in 0.3s !important; 
            }
            .hover-div-troyan::after, .hover-div-reprobates::after, .hover-div-developer::after {
                transition: all ease-in 0.15s; 
                opacity: 1 !important;
            }
            .hover-div-troyan::after {
                left: 66.5% !important;
            }
            .hover-div-reprobates::after {
                left: 78.5% !important;
            }
            .hover-div-developer::after {
                left: 82.5% !important;
            }
        }

        .image-blocks-100:hover > .block a div div svg {
            opacity: 0.69 !important;
            transition: opacity ease-in 0.3s !important; 
        }

        .image-blocks-100:hover > .block a div div:hover {
            svg {
                opacity: 1 !important;
                transition: opacity ease-in 0.3s !important; 
            }
        }

        .hover-div-troyan, .hover-div-reprobates, .hover-div-developer {
            position: relative;
            transition: all ease-in 0.15s; 
        }
        .hover-div-troyan::after, .hover-div-reprobates::after, .hover-div-developer::after {
            transition: all ease-in 0.15s; 
            content: ' ';
            position: absolute;
            top: 35px;
            left: 60px;
            opacity: 0;
            width: 8px !important;
            height: 8px !important;
            background: $color-3;
            border-radius: 2px !important;
            z-index: 1000 !important;
            overflow: visible !important;
        }


    .image-blocks-67 {
        &:nth-child(2) {
            img {
            padding-left: 20px;
            }
        }
    }
}

.images {
    .images-25-75 {
        width: 100%;
        picture {
            height: 40vh;
            &:nth-child(1) {
                width: 30%;
            }     
            &:nth-child(2) {
                width: 70%;
                padding-left: 50px;
            }
        }
    }
}


.footer {
    h3 {
        font-weight: 700;
    }
    p {
        font-weight: 400;
    }

    .footer-container {
        height: fit-content;
        margin: 50px 120px 0;
        .footer-columns {
            // align-items: center !important;
            width: 100%;

            .column:hover {
                transition: color ease-in 0.15s !important; 
                h3 {
                    transition: color ease-in 0.15s !important; 
                    color: $color-3 !important;
                }
            }
            h3 {
                transition: color ease-in 0.15s !important; 
                margin-top: 20px;
                margin-bottom: 10px;
            }
            p {
                position: relative;
                transition: opacity ease-in 0.3s; 
                cursor: pointer;
                margin: 0;
                margin-bottom: 3px;
                padding: 0;
                font-family: $font-name-3 !important;
            }

            p::after{
                transition: all ease-in 0.15s; 
                content: ' ';
                position: absolute;
                top: 4px;
                left: -10px;
                opacity: 0;
                width: 8px !important;
                height: 8px !important;
                background: $color-3;
                border-radius: 2px !important;
                z-index: 5;
                
            }   

            .hover-p:hover > div p {
                transition: opacity ease-in 0.3s; 
                opacity: 0.5;
            }

            // .hover-p:hover ~ h3:hover {
            //     transition: color ease-in 0.3s; 
            //     color: $color-3 !important;
            // }

            





            .hover-p:hover > div:hover {
                p {
                    transition: opacity ease-in 0.3s; 
                    opacity: 1;
                }
                p::after {
                    transition: all ease-in 0.15s; 
                    left: calc(100% + 5px);
                    opacity: 1;
                }
            }

        }
        .footer-bottom-text {
            align-items: flex-end;
            padding-top: 100px;
            padding-bottom: 10px;
            width: 100%;
            p {
                font-size: 0.7vw;
                font-weight: 700;
                margin-bottom: 5px;
            }
            img {
                width: 3.5%;
            }
        }
        .social-pictures {
            margin-top: 0 !important;
            a:not(.left-empty, .right-empty) {
                position: relative;
                // box-shadow: 0px 0px 0px 7px rgb(86, 86, 86) inset;
                z-index: 2 !important;
            }
            a {
                transition: all linear 0.2s;
            }
            // a:not(.left-empty, .right-empty)::after {
            //     content: " " !important;
            //     display: block !important;
            //     position: absolute !important;
            //     top: 2.8px !important;
            //     left: -2.8px !important;
            //     width: 50px !important;
            //     height: 50px !important;
            //     background: rgb(86, 86, 86) !important;
            //     border-radius: 12px !important;
            //     z-index: -1 !important; 
            // }
            // a:not(.left-empty, .right-empty):hover {
            //     svg {
            //         position: relative;
            //         top: 2.8px;
            //         left: -2.8px;
            //         z-index: 1 !important;
            //     }
            // }
            // a {
            //     transition: bounce linear 0.85s; 
            //     svg {
            //         transition: bounce linear 0.85s; 
            //     }
            // }
            // .bounce {
            //     animation: bounce 2s ease infinite;
            //   }
            // @keyframes bounce-youtube {
            //     0% {transform: scale(1);}
            //     15% { transform:scale(0.9); }
            //     100% { transform:scale(1.1) translate(-5px, -3px); }
            // }   
            // a {
            //     animation: bounce-youtube 0.3s linear !important; 
            //     .youtube-cont {
            //         animation: bounce-youtube 0.3s linear !important; 
            //     }
            // }
            // a:hover {
            //     .youtube-cont {
            //         animation: bounce-youtube 0.3s linear 0.000001s forwards !important; 
            //     }
            // }
            //
            // a:hover {
            //     // transition: bounce 0.9s linear 1; 
            //     // svg {
            //     //     transition: bounce 0.9s linear; 
            //     // }

            //     .youtube-cont, .youtube {
            //         transition: bounce-youtube 0.9s linear !important; 
            //     } 
            //     .vk-cont, .vk {
            //         transition: bounce-vk 0.9s linear 1; 
            //     } 
            //     .svg-instagram {
            //         transition: bounce-instagram 0.9s linear 1; 
            //     }
            //     .svg-facebook {
            //         transition: bounce-facebook 0.9s linear 1; 
            //     }
            //     .svg-behance {
            //         transition: bounce-behance 0.9s linear 1; 
            //     } 
            //     .svg-twitter {
            //         transition: bounce-twitter  0.9s linear 1; 
            //     }
                
            // }  

            margin-top: 20px;
            .youtube, .vk, .instagram , .facebook, .left-empty, .right-empty, .behance, .twitter {
                position: relative !important; 
                // transition: all ease-in 0.15s; 
            }
            .youtube, .vk {
                position: absolute !important;
                z-index: 100 !important;
                fill: white;
            }
            .youtube {
                width: 37%;
                top: -7%;
                left: 33%;
                transform: scale(0.85);
                opacity: 0;
                transition: all ease-in 0.15s; 
            }
            .vk {
                width: 68%;
                top: -16%;
                left: 16%;
                transform: scale(0.85);
                opacity: 0;
                transition: all ease-in 0.15s; 
            }

            .left-empty {
                transition: all ease-in 0.15s; 
                &:hover {
                    .youtube {
                        transition: all ease-in 0.15s; 
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
            .right-empty {
                transition: all ease-in 0.15s; 
                &:hover {
                    .vk {
                        transition: all ease-in 0.15s; 
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }

            .instagram, .left-empty, .right-empty {
                left: -12px;
            }
            .instagram, .behance {
                margin-left: 8px;
                margin-right: 8px;
            }
        }
    }
}