@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');



.block__1 {
    width: 100vw;
    height: 300vh;
    background: black;
    position: relative;
    .block__1__heading {
        top: 150vh;
        position: absolute;
        color: white;
    }
    .block__1__shapes {
        position: relative;
        .circle__1 {
            position: absolute;
            top: 15vh;
            left: 10vw;
            border-radius: 1000px;
            background-color: #fff;
            height: 50px;
            width: 50px;
        }

        .circle__2 {
            position: absolute;
            top: 20vh;
            left: 10vw;
            border-radius: 1000px;
            background-color: #778899;
            height: 100px;
            width: 100px;
        }

        .circle__3 {
            position: absolute;
            top: 25vh;
            left: 10vw;
            border-radius: 1000px;
            background-color: #808080;
            height: 150px;
            width: 150px;
        }
    }
}

.block_2 {
    .sections {
        display: flex;
        flex-flow: column;
        width: 100%;
        background-color: #fff;
        .section {
            display: flex;
            flex-flow: row;
            height: 200px;
            // border: 1px solid black;
            width: 100%;
            //margin-left: 20%;
            // transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
            .image-wrapper {
                width: 30% !important;
                height: 100%;
                // padding-right: 20px;
                overflow: hidden;
                padding: 10px;
                picture {
                    transform: translate3d(110%, 0, 0);
                    @include image-transition;
                    opacity: 0;
                }
            }
            .content-wrapper {
                display: flex;
                flex-flow: row;
                width: fill;
                height: 100%;
                padding: 15px;
                overflow: hidden;
                // transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
                .left-side {
                    display: flex;
                    transform: translate3d(0, 30%, 0);
                    opacity: .69;
                    width: fill;
                    flex-flow: column;
                    justify-content: space-between;
                    @include text-transition;
                    p {
                        opacity: 0;
                    }
                }
                .right-side {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    transform: translate3d(40%, 0, 0);
                    opacity: 0;
                    @include text-transition-h2;
                }
            }
        }
        .section:hover {
            picture {
                transform: translate3d(0, 0, 0);
                @include image-transition;
                opacity: 1;
            }
            .left-side {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                @include text-transition;
                p {
                    @include text-transition-p;
                    opacity: 1;
                }
            }
            .right-side {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                @include text-transition-h2;

            }
        }
        
    }
}







.block_3 {
    @include block_props;
    z-index: 5 !important;
    .shapes-3d {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;
            .rectangle_1 {
                display: inline-block;
                z-index: 10 !important;
                width: 250px;
                height: 250px;
                background-color: #fff;
                margin: 100px;
                transform: skew(12deg, 15deg) rotate(13deg) scale3d(1,1.1,1) !important;
                transition: all 0.5s ease;
            }
            .rectangle_1:hover {
                display: inline-block;
                z-index: 10 !important;
                width: 250px;
                height: 250px;
                background-color: #fff;
                margin: 100px;
                transform: skew(7deg, 20deg) rotate(7deg) scale3d(1,1.2,1.2) !important;
                transition: all 0.5s ease;
            }
            .rectangle_2 {
                display: inline-block;
                z-index: 10 !important;
                width: 200px;
                height: 250px;
                background-color: #fff;
                margin: 100px;
                transform: skew(0deg, -10deg) rotate(20deg) scale3d(1.2,1.4,1.4) translateX(50%);
                transition: all 0.5s ease;
        }    
            .rectangle_2.active3d {
                display: inline-block;
                z-index: 10 !important;
                width: 200px;
                height: 200px;
                background-color: #fff;
                margin: 100px;
                transform: skew(0deg, 0deg) rotate(0deg) scale3d(2.7,2.7,2.7) translateX(-20%) translateY(50%) !important;
                transition: all 0.8s ease;
        }
            .rectangle_2.active3d {
                display: inline-block;
                z-index: 10 !important;
                width: 200px;
                height: 200px;
                background-color: #fff;
                margin: 100px;
                transform: skew(0deg, 0deg) rotate(0deg) scale3d(2.7,2.7,2.7) translateX(-20%) translateY(50%) !important;
                transition: all 0.5s ease;
    }
    }
}

.block_4 {
    @include block_props;
    .cards {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        position: relative;
        top: 50px;
        .card_1 {
            @include card_props;
            position: absolute;
            background-color: #778899 !important;
            transform: rotate(-20deg) translate3d(0, 0, 0);

        }
        .card_2 {
            @include card_props;
            position: absolute;
            background-color: #fff !important;
            // transform: skew(10deg, 0deg) rotate(40deg) scale3d(3,2.3,2.3) translateX(10%) translateY(50%) !important;
            transform: rotate(-13deg) translate3d(30%, 15%, 0);

        }
        .card_3 {
            @include card_props;
            position: absolute;
            background-color: #808080 !important;
            // transform: skew(10deg, 0deg) rotate(40deg) scale3d(3,2.3,2.3) translateX(10%) translateY(50%) !important;
            transform: rotate(-6deg) translate3d(60%, 30%, 0);

        }
    }
}