.case-block {
    padding-top: 25px;
    padding-bottom: 25px;
    background: $color-2;
    .full-width.container {
        width: 100%;
        
        video {
            max-width: 100%;
            height: 100%;
            display: block;
            @include radius
        }
        picture img { @include radius }
    }
    .double-picture.container {
        picture {
            width: calc(50% - 25px);
            img { @include radius }

        }
    }
}

.service-block {
    padding-top: 169px !important;
    .service-block-item {
        width: 100%;
        .service-text {
            p {
                width: 100%;
                max-width: 50vw;
            }
            .h2-wrapper {
                position: relative;
                widtH: fit-content;
                h2 {
                    text-transform: uppercase;
                    font-size: 7.25vw;
                    margin-bottom: 43px;
                }
                svg {
                    position: absolute;
                    left: 82%;
                    top: -7%;
                    transform: rotate(13deg);
                }

            }
        }    
    }
}

.small-text {
    p {
        position: relative;
        max-width: 50%;
    }
}

.images-30-70 {
    picture {
        height: 80vh;
        img { @include radius }
        &:nth-child(1) {
            width: calc(60% - 50px);
            margin-right: 50px;
        }
        &:nth-child(2) {
            width: 40%;
        }
    }
}

.more-cases .relative {
    width: calc(100vw - 40px);
}

.more-cases-Swiper {
    max-width: 100%;
    padding-bottom: 800px;
    // flex-wrap: nowrap !important;
    .swiper-wrapper{
        transition-timing-function: linear;
        .swiper-slide {
            width: 30%;
            p {
                padding-top: 5px;
                margin: 0;
            }
        }
      }

}

.more-cases-Swiper {
    margin-left: auto  ;
    margin-right: auto  ;
    position: relative  !important;
    list-style: none  ;
    padding: 0  ;
    z-index: 1  ;
    display: block !important;
    height: 100% !important;
    .swiper-wrapper {
        transition-timing-function: ease-out;
        position: relative  ;
        width: 100%  ;
        height: 100%  !important;
        z-index: 1  ;
        display: flex  ;
        flex-wrap: nowrap;
        flex-direction: row !important;
        transition-property: transform  ;
        box-sizing: content-box;
        left: 0;
        top: 0;
        .swiper-slide {
            flex-shrink: 0  ;
            width: 100%  ;
            height: 100%  ;
            position: relative  ;
            transition-property: transform  ;
            flex-direction: column  ;
            picture {
                img {
                    height: 100%;
                    width: 100%;
                }
            }

        }
    }
}