// Animated headings settings
.words-wrapped {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: fit-content;

    span {
        display: inline-block;
        font-size: 5vw;

        &:not(:last-child) {
            margin-right: 1.5vw;
        }
    }
    .anim-heading-span { transform: translate3d(0, 1.1em, 0); }
}

// Universal trigger style for every trigger
.trigger {
    display: block;
    position: relative;
    height: 1px;
    width: 1px;
    opacity: 0;
}

// Text color controls
.text_white { color: #fff !important; }
.text_black { color: #000 !important; }

// Text underlined
.underline_text {
    position: relative;
    width: fit-content;
    overflow: visible;
    &:after {
        margin: 0;
        left: 0;
        position: absolute;
        content: '';
        height: 1px;
        background: #000;
        width: 100%;
        display: block;
    }
}