// Animated headings settings
.words-wrapped {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: fit-content;

    span {
        display: inline-block;
        font-size: 5vw;
        font-family: PROXIMANOVA-BOLD;
        font-weight: 700;
        text-transform: uppercase;
        &:not(:last-child) {
            margin-right: 1.5vw;
        }
    }
    .anim-heading-span { transform: translate3d(0, 1.2em, 0); }
}

// Animation line-by-line
.animated-paragraph_item {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: fit-content;
    .ov-hidden {
        overflow: hidden;
        display: block;
        span {
            display: inline-block;
            font-size: 1.5vw;
            color: #fff;
            transform: translate3d(0, 1.3em, 0);
        }
    }    
}

.section-horizontal-scroll {
    display: flex;  
    flex-direction: row; 
 
    // overflow: auto;
    .horizontal-scroll-paragraph {
        position: relative;
        margin: 0;

        height: fit-content;
        .ov-hidden {
            overflow: hidden;
            display: block;
            span {
                display: inline-block;
                font-size: 1.5vw;
                margin-top: 0;
                margin-bottom: 0;
            }
        }  
    }
    .horizontal-scroll-image {
        width: 15%;
    }
}

// Universal trigger style for every trigger
.trigger {
    display: block;
    position: relative;
    height: 1px;
    width: 1px;
    opacity: 0;
}



// Text underlined
.underline_text {
    position: relative;
    width: fit-content;
    overflow: visible;
    &:after {
        margin: 0;
        left: 0;
        position: absolute;
        content: '';
        height: 1px;
        background: #000;
        width: 100%;
        display: block;
    }
}



.hidden-locked { display: none !important; z-index: -1 !important; opacity: 0 !important; pointer-events: none !important;}
