@media screen and (min-width: 1600px) {
    .preloader-container-logo {
        left: 8% !important;
    }
    .header {
        .burger-container {
            .burger-menu {
                svg {
                    left: 77vw !important;
                    width: 95% !important;
                    height: 22% !important;
                    top: 25% !important;
                }
            }
        }
        .navigation-mobile {
            justify-content: center !important;
            margin-top: 0 !important;
            h3 {
                margin-bottom: 40px !important;
            }
            .hover-a-1::after, .hover-a-2::after, .hover-a-3::after, .hover-a-4::after, .hover-a-5::after {
                top: 45px !important;
                width: 9.5px !important;
                height: 9.5px !important;
            }
        }
    }
    .footer {
        .footer-container {
            margin: 0 auto !important;
        }
        p::after {
            top: 6.5px !important;
        }
    }
    .block-3 {
        .right-monster {
            .meat {
                width: 100% !important;
                position: relative !important;
                top: -60px !important;
                // img {
                //     width: 450px !important;
                // }
            }
        }
        p {
            font-size: 20px !important;
        }
    }
    .block-5 {
        margin-bottom: 100px !important;
        // .left-side {
        //     p {
        //         width: 80% !important;
        //         margin-left: 18% !important;
        //     }
        // }
        .bloodshed {
            top: 68.2% !important;
        }
        .nuclear_explosion {
            top: 83%;
        }
        .icefall {
            top: 97.9%;
        }
        .frostspike {
            top: 53.2% !important;

        }
        .hubris {
            top: 95%;
            left: 79.5%;
        }
        .sunstrike {
            top: 41.3% !important;
        }
    }
    .block-7 {
        margin-top: 170px !important;
        .video {
            img {
                width: 1000px !important;
            }
        }
    }
    .block-9 {
        .metagun-item {
            margin-top: 48vh !important;
        }
        .comics-2 {
            top: 63% !important;
        }
        .blot-item {
            margin-left: 420px !important;
            .comics-text {
                margin-left: 220px;
            }
        }
    }
    .block-10 {
        margin-top: 130px !important;
        .moving-slaugterman {
            width: 28.5% !important;

        }
    }
    .block-11 {
        .play-btn {
            left: 24% !important;
            img { 
                width: 80% !important;
            }
        }
    }
}
@media screen and (min-width: 1800px) { 
    .block-4 {
        h2 {
            font-size: 30px !important;
        }
    }
    .block-5 {
        p {
            font-size: 25.2px !important;
        }
    }
}
@media screen and (min-width: 2000px) {
    .preloader-container-logo {
        left: 5% !important;
    }
    .pixel-bc-2000 {
        display: block !important;
        top: 0 !important;
        left: 0 !important;
        position: absolute !important;
        pointer-events: none !important;
        width: 100vw !important;
        height: 150vh !important;
        z-index: 1 !important;
        transition: all ease-in 0.1s;
        .pixel-2000 {
            z-index: 0 !important;
            rect {
                width: 150% !important;
                height: 150% !important;
            }
        }
        &.hide-bc {
            transition: all ease-in 0.1s;
            opacity: 0 !important;
        }
    }
    .pixel-bc {
        .pixel, .pixel-mob {
            display: none !important;
        }
        .pixel-no-random {
            rect {
                width: 115% !important;
                height: 115% !important;
            }
        }
    }
    .container {
        width: calc(100vw - 1000px) !important;
    }
    .pixel {
        rect {
            width: 150% !important;
            height: 150% !important;
        }
    }
    .pixel-bottom {
        rect {
            width: 140% !important;
            height: 140% !important;
        }
    }
    .header-main {
        h3 {
            font-size: 35.6px !important;
        }
    }
    .header {
        // .navigation-mobile {
        //     top: 15vh !important;
        // }
        .logo {
            width: 45% !important;
            &.logo-active {
                top: 4% !important;
                svg {
                    width: 100% !important;
                }
            }
        }
        .navigation a {
            h3 {
                font-size: 35.6px !important;
            }
        }
        .burger-container {
            .burger-menu {
                svg {
                    width: 85% !important;
                    height: 16% !important;
                    left: 85.5vw !important;
                    top: 0% !important;
                }
            }
        }
        .navigation-mobile {
            .hover-a-1::after, .hover-a-2::after, .hover-a-3::after, .hover-a-4::after, .hover-a-5::after {
                top: 60px !important;
                width: 11px !important;
                height: 11px !important;
            }
        }
    }
    .footer {
        .container {
            justify-content: center !important;
            .footer-container {
                width: 80% !important;
                justify-content: center !important;
            }
        }
        .footer-columns {
            h3 {
                font-size: 43.2px !important;
            }
            p {
                font-size: 25.6px !important;
            }

        }
        .footer-bottom-text {
            p {
                font-size: 17.7px !important;
            }
        }
    }
    .block-1 {
        h1 {
            font-size: 80px !important;
        }
        h3 {
            margin-top: 30px !important;
            font-size: 28px !important;
        }
        p {
            font-size: 20px !important;
        }
        .seraphim {
            img {
                width: 65% !important;
            }
        }
    }
    .block-2 {
        padding-top: 0px !important;
        .left-side {
            width: 28%;
        }
        .right-side {
            width: calc(72% - 60px);

        }
        h2 {
            font-size: 32px !important;
        }
        p {
            font-size: 20px !important;
        }
    }
    .block-3 {
        .content {
            width: calc(85% + 190px) !important;
            justify-content: center !important;
        }
        .under-title {
            margin-top: 30px !important;
            margin-bottom: 70px !important;
            h3 {
                font-size: 35px !important;
            }
        }
        .five-options {
            margin-left: 0 !important;
            width: 33% !important;
        }
        .breaking-five {
            width: 26% !important;
            margin-left: 120px !important;
            margin-right: 0 !important;
            .attack {
                top: -84% !important;
            }
            .breaking-five-svg {
                margin-right: 0 !important;
            }
        }
        .right-monster {
            width: 26% !important;
            .meat {
                width: 90% !important;
                img {
                    width: 200% !important;
                    max-width: 200% !important;
                }
            }
        }
        .egg {
            width: 100%;
            img {
                width: 7% !important;
            }
        }
        h2 {
            font-size: 42px !important;
            margin-bottom: 0 !important;
        }
        p {
            font-size: 20px !important;
        }
    }
    .block-4 {
        .way {
            width: 100% !important;
        }
        .left-side {}
        .right-side {
            padding-left: 60px !important;
        }
        h2 {
            font-size: 30px !important;
        }
    }
    .block-5 {
        .container {
            justify-content: center !important;
        }
        .cards-and-combinations {
            width: 94% !important;
            justify-content: center !important;
        }
        .left-side, .right-side {
            width: 47% !important;
            p {
                font-size: 20px !important;
            }
        }
        .combinations {
            position: relative;
            top: 0px !important;
        }
        .left-side {
            .top-texts {
                p {
                    margin-bottom: 25px !important;
                }
            }
        }
        .right-side {
            .top-texts {
                p {
                    margin-bottom: 38px !important;
                }
            }
        }
        span {
            font-size: 120px !important;
            margin-bottom: 15px !important;
        }
        .bloodshed {
            top: 67% !important;
        }
        .nuclear_explosion {
            top: 71.8% !important;
        }
        .icefall {
            top: 92.9% !important;
        }
        .hubris {
            top: 83% !important;
            left: 79.5% !important;
        }
        .sunstrike {
            top: 40.3% !important;
        }
        .frostspike {

            top: 58% !important;

        }
    }
    .block-6 {
        margin-top: 50px !important;
        height: 42vh !important;
        span {
            font-size: 131.5px !important;
        }
        p, h3 {
            font-size: 43.2px !important;
        }
        picture {

            img {
                width: 86% !important;
                height: auto;
            }
        }
        .left-image {
            // top: 114% !important;
            left: 8% !important;
            transform: rotate(-22deg) !important;
        }
        .right-image {
            // top: 202% !important;
            left: 36% !important;
        }
        .right-text {
            left: 73.2% !important;

        }
    }
    .block-7 {
        h2 {
            font-size: 43.2px !important;
        }
        p {
            font-size: 31.4px !important;
        }
    }
    .block-8 {
        margin-top: 150px !important;
        h2 {
            font-size: 68px !important;
        }
        p {
            font-size: 23px !important;
        }
        .comissar-container {
            img {
                width: 80% !important;
            }
        }
        .grenade {
            top: 40% !important;
            left: 15% !important;
            img {
                
            }
        }
        .content {
            margin-top: 30px !important;
            width: 90% !important;
        }
    }
    .block-9 {
        margin-top: 0px !important;
        // height: 65vh !important;
        .comics-block {
            width: 85% !important;
        }
        .metagun-item {
            width: 65%;
            margin-top: 12vh !important;
            margin-left: 60px !important;
            img {
                width: 75% !important;
            }
            h3 {
                width: 72% !important;
            }
        }
        .comics-1 {
            width: 64% !important;
            left: -2% !important;
        }
        .comics-2 {
            width: 55%;
            top: 56% !important;

        }
        .comics-text {
            margin-left: 170px !important;
            h3 {
                margin-bottom: 40px !important;
            }
        }
        .blot-item {
            margin-left: 400px !important;
            margin-top: 50px !important;
        }
        .blot-block {
            img {
                width: 58% !important;
            }
        }
        .aam-item {
            left: 93.5% !important;
            top: 10% !important;
        }
        h3 {
            font-size: 36px !important;
        }
        p {
            font-size: 23px !important;
        }
    }
    .block-10 {
        .container {
            justify-content: center !important;
        }
        .container-100 {
            width: 82% !important;
        }
        // margin-top: 220px !important;
        h2 {
            font-size: 112.4px !important;
        }
        .three-pictures {
            margin-top: 40px !important;
        }
        .moving-slaugterman {
            top: 100% !important;
            img {
                width: 75% !important;
            }

        }
    }
    .block-11 {
        span {
            font-size: 95px !important;
        }
        h2 {
            font-size: 36.05px !important;
        }
        p {
            font-size: 24px !important;
        }
        .play-pause-btn {
            left: 28% !important;
            img {
                width: 100% !important;
            }
        }
    }
    .block-12 {
        h2 {
            font-size: 56px !important;
        }
        p {
            font-size: 14px !important;
        }
        span {
            font-size: 22px !important;
        }
    }

}

@media screen  and (min-width: 2200px) {
    .header {
        .burger-container {
            .burger-menu {
                svg {
                    left: 72vw !important;
                }
            }
        }
    }
    .block-5 {
        .bloodshed {
            top: 67% !important;
        }
        .nuclear_explosion {
            top: 71.2% !important;
        }
        .icefall {
            top: 93.9% !important;
        }
        .hubris {
            top: 85% !important;
        }
        .sunstrike {
            top: 40.5% !important;
        }
        .frostspike {

            top: 58.5% !important;

        }
    }

    // .block-9 {
    //     height: 120vh !important;
    // }
}