@media screen and (min-width: 1600px) {
    .block-5 {
        .bloodshed {
            top: 71.6% !important;
        }
        .nuclear_explosion {
            top: 83% !important;
        }
        .icefall {
            top: 96.9% !important;
        }
        .hubris {
            top: 95% !important;
            left: 79.5% !important;
        }
    }
    .block-9 {
        .metagun-item {
            margin-top: 300px !important;
        }
    }
}