@font-face {
    font-family: $font-name; /* Имя шрифта */
    src: url(fonts/ProximaNova-Regular.woff); /* Путь к файлу со шрифтом */
    font-weight: 500;
}

@font-face {
    font-family: $font-name; /* Имя шрифта */
    src: url(fonts/ProximaNova-Bold.woff); /* Путь к файлу со шрифтом */
    font-weight: 700;
}

@font-face {
    font-family: $font-name; /* Имя шрифта */
    src: url(fonts/ProximaNova-Black.woff); /* Путь к файлу со шрифтом */
    font-weight: 900;
}

@font-face {
    font-family: $font-name; /* Имя шрифта */
    src: url(fonts/Klyakson.woff); /* Путь к файлу со шрифтом */
    font-weight: 600;
}