@font-face {
    font-family: $font-name; /* Имя шрифта */
    src: url(fonts/Shadow-light.woff) format("woff"); /* Путь к файлу со шрифтом */
    font-weight: 500;
}

@font-face {
    font-family: $font-name; /* Имя шрифта */
    src: url(fonts/Shadow-regular.woff) format("woff"); /* Путь к файлу со шрифтом */
    font-weight: 700;
}

@font-face {
    font-family: $font-name-2; /* Имя шрифта */
    src: url(fonts/Pixel.woff) format("woff"); /* Путь к файлу со шрифтом */
    font-weight: 400;
}

// @font-face {
//     font-family: $font-name-2; /* Имя шрифта */
//     src: url(fonts/Minecraftchmc.woff) format("woff"); /* Путь к файлу со шрифтом */
//     font-weight: 500;
// }
