@media screen and (max-width: 800px) {

    a {
        font-size: 4vw;
    }

    p {
        font-size: 4vw;
        line-height: 1.3;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 8vw !important;
    }

    section:not(.header, .main-hero) {
        padding: 10px 0 !important;
    }

    .container {
        width: calc(100vw - 40px) !important;
        margin: 0 auto;
        padding: 25px 0 !important;
    }

    .flex-row:not(.navigation, .footer-columns) { 
        flex-direction: column !important;
        // div {
        //     width: 100% !important;
        // }
        // p {
        //     text-align: left !important;
        // }
    }


    // HEADER

    
    

    // FOOTER

    .footer {
        .footer-container {
            margin: 50px 0 !important;
            .footer-bottom-text {
                p {
                    font-size: 3vw;
                }
            }
        }
    }


    //// MAIN PAGE ////

    .images {
        .images-25-75 {
            picture {
                height: 20vh;
                &:nth-child(1) {
                    width: 100%;
                    padding-bottom: 15px;
                }     
                &:nth-child(2) {
                    width: 100%;
                    padding-left: 0;
                }
            }
        }
    }

    //// REPROBATES PAGE ////

    .our-games {
        .image-blocks {
            flex-direction: column !important;
            .block {
                width: 100%;
                h3 {
                    font-size: 7vw;
                }
            }
        }
    }
}