@media screen and (max-width: 800px) {

    body, html {
        overflow-x: hidden !important;
        background-color: black !important;
    }

    a {
        font-size: 4vw;
    }

    p {
        font-size: 4vw;
        line-height: 1.3;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 8vw !important;
    }

    .pixel {
        width: 60% !important;
    }

    section:not(.header, .main-hero) {
        padding: 10px 0 !important;
    }

    .container {
        width: calc(100vw - 40px) !important;
        margin: 0 auto !important;
        padding: 25px 0 !important;
    }

    .flex-row:not(.navigation, .footer-columns) { 
        flex-direction: column !important;
        // div {
        //     width: 100% !important;
        // }
        // p {
        //     text-align: left !important;
        // }
    }


    // HEADER

    .header {
        .navigation-mobile {
            width: 100% !important;
            margin: 0 auto !important;
            flex-direction: column !important;
            height: 85vh !important;
            background-color: black;
            z-index: 1001 !important;
            position: fixed;
            left: -100vw;
            top: 16vh;
            transition: all ease-in 0.18s;
            justify-content: center !important;
            align-items: center !important;
            &.open-nav {
                left: 0vw;
                transition: all ease-in 0.18s;
            }
            a {
                h3 {
                    width: 100% !important;
                    text-align: center !important;
                    font-size: 8vw;
                }
                .contact, .faq {
                    margin-bottom: 10px;
                }
            }
        }
        .container {
            height: auto !important;
            flex-direction: row !important;
            padding-top: 15px !important;
            padding-bottom: 15px !important;
            justify-content: space-between !important;
            z-index: 1000 !important;
            .logo {
                width: 30% !important;
                transition: all ease-in 0.3s;
                z-index: 5 !important;
                transition: all ease-in 0.3s;
                width: 90% !important;
                display: flex;
                justify-content: flex-end !important;
                transform: scale(1.3);
                // &.scaling {

                // }
            }
            .logo {
                svg {
                    height: 50% !important;
                }
            }
            .navigation a:not(:last-child) {
                margin-right: 15px !important;
    
            }
            .burger-menu {
                display: flex !important;
                justify-content: flex-end !important;
                width: 10% !important;

                svg {
                    width: 80% !important;
                    height: 11.9% !important;
                    :nth-child(1), :nth-child(2), :nth-child(3)  {
                        transition: all ease-in 0.3s;
                        transform: translate(0, 0) rotate(0deg);
                    }
                }
                &.close {
                    z-index: 10 !important;
                    svg {
                        // position:;
                        // top: 5% !important;
                        // left: 80% !important;
                        width: 75% !important;
                        transition: all ease-in 0.3s;
                        :nth-child(1)  {
                            transition: all ease-in 0.3s;
                            position: relative;
                            transform: translate(12px, -1.5px) rotate(45deg);

                        }
                        :nth-child(3)  {
                            transition: all ease-in 0.3s;
                            position: relative;
                            transform: translate(-13px, 10.5px) rotate(-45deg);
                        }
                        :nth-child(2)  {
                            transition: all ease-in 0.3s;
                            position: relative;
                            top: 0px;
                            left:0;
                            transform: rotate(90deg);
                            opacity:0;
                            width:0;
                        }
                    }
                }
            }   
        }
    }
    

    // FOOTER

    .footer {
        h3 {
            font-size: 4.4vw !important;
        }
        .container {
            .footer-container {
                p::after {
                    width: 6.5px !important;
                    height: 6.5px !important;
                    top: 6px !important;
                }
                margin: 0 !important;
                .social-pictures-mob {
                    margin-top: 20px !important;
                    width: 100% !important;
                    flex-direction: row !important;
                    .container-for-social {
                        justify-content: center !important;
    
                        .instagram , .facebook,  .left-empty, .right-empty {
                            position: relative !important; 
                            transition: all ease-in 0.15s; 
                        }
                        .youtube, .vk {
                            position: absolute !important;
                            z-index: 100 !important;
                            fill: white;
                        }
                        .youtube-cont, .facebook, .instagram, .behance, .twitter {
                            margin-right: 4px !important;
                        }
                        .youtube {
                            width: 45%;
                            top: -5% !important;
                            left: 28%;
                            transform: scale(0.85);
                            opacity: 1;
                            transition: all ease-in 0.15s; 
                        }
                        .vk {
                            width: 68%;
                            top: -15% !important;
                            left: 16%;
                            transform: scale(0.85);
                            opacity: 1;
                            transition: all ease-in 0.15s; 
                        }
            
                        .left-empty {
                            transition: all ease-in 0.15s; 
                            &:hover {
                                .youtube {
                                    transition: all ease-in 0.15s; 
                                    transform: scale(1);
                                    opacity: 1;
                                }
                            }
                        }
                        .right-empty {
                            transition: all ease-in 0.15s; 
                            &:hover {
                                .vk {
                                    transition: all ease-in 0.15s; 
                                    transform: scale(1);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                .footer-bottom-text {
                    flex-direction: row !important;
                    align-items: flex-end !important;
                    margin-bottom: 0 !important;
                    padding-bottom: 0 !important;
                    margin-top: 10px !important;
                    padding-top: 0 !important;
                    p {
                        font-size: 2.8vw;
                        text-align: center !important;
                        margin-top: 20px !important;
                        margin-bottom: 0 !important;
                    }
                    img {
                        width: 20% !important;
                    }
                }
            }
        }
    }


    //// MAIN PAGE ////

    .images {
        .images-25-75 {
            picture {
                height: 20vh;
                &:nth-child(1) {
                    width: 100%;
                    height: auto;
                    margin-bottom: 15px;
                }     
                &:nth-child(2) {
                    width: 100%;
                    height: auto;
                    padding-left: 0;
                }
            }
        }
    }

    .our-games, .images, .footer, .header {
        &.fixed-pos {
            position: fixed !important;
            // top: 50vh;
        }
    }

    .pixel-bc.hide-bc {
        opacity: 0 !important;
    }

    .pixel-font-container.fixed-pos {
        top: 200% !important;
        position: fixed !important;
        z-index: 5 !important;
    }

    .header.fixed-pos {
        top: 0 !important;
        left: 0 !important;
    }

    
    .our-games.fixed-pos, .images.fixed-pos, .footer.fixed-pos {
        top: 200% !important;
    }

    .our-games {
        z-index: 2 !important;
        .heading-67, .heading-33 {
            svg {
                width: 100% !important;
            }
        }

        .hover-div-troyan::after, .hover-div-reprobates::after, .hover-div-developer::after {

           display: none !important;

        }

        .image-blocks-100 {
            flex-direction: column !important;
            .block {
                width: 100% ;
                svg {
                    margin-top: 20px !important;
                    margin-bottom: 5px !important;
                    width: 50% !important;
                }

                .diary {
                    margin-top: 50px !important;
                    width: 80% !important;
                    margin:  50px auto 0!important;
                    justify-content: center !important;
                    svg {

                        width: 100% !important;
                        margin: 0 auto !important;
                        justify-content: center !important;
                    }
                }
                .reprobates {
                    p {
                        font-size: 7.2vw !important;
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }

    //// REPROBATES PAGE ////

    .block-1 {
        .platform-genre {
            .left-side, .right-side {
                width: calc(50% - 15px) !important;
            }
            .left-side {
                margin-right: 30px !important;
            }
        }
        p {
            font-size: 2.5vw;
        }
        h1 {
            font-size: 7.2vw !important;
        }
        h3 {
            font-size: 3.8vw !important;
        }
        .info {
            .platform-genre {
                flex-direction: row !important;
            }
            .seraphim {
                left: 72%;
                top: 85%;
                width: 30%;
                height: 30%;
                img {
                    //width: 10% !important;
                    // height: fit-content !important;
                    // height: auto !important;
                    // max-height: 100% !important;
                }
            }
        }
    }
    .block-2 {
        .quote {
            flex-direction: row !important;
            .left-side {
                width: 45%;
            }
            .right-side {
                width: 55%;
                padding-left: 0;
                h2 {
                    font-size: 3.4vw !important;
                    text-align: left;
                }
                p {
                    font-size: 2.5vw;
                    text-align: left;
                }
            }
        }
    }
    .block-3 {
        padding-bottom: 0 !important;
        .container {
            padding-bottom: 0 !important;
            padding-top: 0 !important;
        }
        .title {
            z-index: 2 !important;
            margin-bottom: 0px !important;
            h2 {
                font-size: 4.2vw !important;
            }
        }
        .under-title {
            h3 {
                font-size: 4.8vw;
            }
        }
        p {
            font-size: 3vw !important;
        }
        .egg {
            img {
                width: 30%;
            }
        }
        .content {
            width: 100%;
            .breaking-five-svg {
                width: 60% !important;
                justify-content: center !important;
                align-items: center !important;
                margin-right: 0;
                margin-bottom: 15px !important;
                text-align: center !important;
            }
            .breaking-five, .five-options, .right-monster {
                width: 100% !important;
                justify-content: center !important;
            }

            .five-options {
                p {
                    font-size: 3.8vw !important;
                }
            }

            .breaking-five {
                transform: translate3d(0, 0, 0);
                .attack {
                    left: -3%;
                    top: -35%;
                    width: 40%;
                    z-index: 1 !important;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .right-monster {
                .meat {
                    img {
                        width: 80% !important;
                    }
                }
            }
        }
    }

    .block-4 {
        padding-top: 0 !important;
        margin-bottom: 30px !important;
        .container {
            padding-top: 0 !important;
        }
        .way {
            flex-direction: row !important;
            .left-side {
                width: 45%;
            }
            .right-side {
                width: 55%;
                padding-left: 0;
                margin-top: 15px;
                text-align: start;
                h2 {
                    font-size: 3.6vw !important;
                }
                p {
                    font-weight: 700;
                }
            }
        }
    }

    .block-5 {
        margin-top: 0 !important;
        .top-texts {
            flex-direction: row !important;
        }
        p {
            font-size: 3vw;
            width: 50% !important;
        }
        .left-side {
            margin-bottom: 50px !important;
            p {
                margin-left: 0 !important;
            }
        }
        .left-side, .right-side {
            width: 100% !important;
            span {
                font-size: 14vw !important;
                width: 50% !important;
            }
            .sunstrike {
                top: 40.8% !important;
            }

            .nuclear_explosion {
                top: 70.4%;
            }
            .bloodshed {
                top: 62.35% !important;
            }
            .frostspike {
                top: 54.5%;

            }
        }
    }

    .block-6 {
        height: 50vh;
        margin-top: 15px !important;
        margin-bottom: 50px !important;
        p {
            font-size: 4vw !important;
            margin-right: 5px !important;
        }
        h3 {
            font-size: 4vw !important;
        }
        span {
            font-size: 10vw !important;
        }
        picture {
            width: 110% !important;
        }
        .right-text {
            left: 65.8% !important;
            width: 50% !important;
        }

        .left-image {
            left: -35% !important;
            top: 150% !important;
            transform: rotate(-14deg) !important;
        }
        .right-image {
            left: 22% !important;
            top: 310% !important;
        }
    }

    .block-7 {
        h2 {
            font-size: 5.2vw !important;
        }
        p {
            font-size: 3.8vw !important;
        }
        .video {
            width: 100%;
            img {
                width: 90% !important
            }
        }
    }

    .block-8 {
        margin-top: 20px !important;
        h2 {
            font-size: 7.2vw !important;
        }
        .top-block {
            .stories-heading {
                flex-direction: row !important;
                picture {
                    width: 20% !important;
                    .demon {
                        transition: demon-animation-mob 1.2s linear infinite !important;
                    }
                }
                @keyframes demon-animation-mob {
                    0% {
                        transform: translate3d(0, -10%, 0) !important;
                    }
                    100% {
                        transform: translate3d(0, 10%, 0) !important;
                    }
                }
            }
        }
        .content {
            flex-direction: column-reverse !important;
            .left-side {
                margin-right: 0;
                img {
                    width: 90%;
                }
                .grenade {
                    width: 90%;
                    top: 65%;
                    left: 0%;
                }
            }
            .right-side {
                p {
                    width: calc(100% - 25px) !important;
                    font-size: 3.5vw;

                }
            }
            .left-side, .right-side {
                width: calc(100% - 25px) !important;
            }
        }
    }
    .block-9 {
        height: auto !important;
        margin-top: 70px !important;
        .comics-block {
            .comics-1, .comics-2 {
                width: 100% !important;
                position: relative !important;
                top: 0 !important;
                left: 0 !important;
                picture {
                    width: 100% !important;
                    img {
                        width: 90% !important;
                        height: auto;
                    }
                }
            }
            .comics-1 {
                width: 100% !important;
                transform: rotate(-8deg) !important;
                margin-left: 20px !important;
            }
            .comics-2 {
                margin-top: 30px;
                margin-left: 20px !important;
                width: 100% !important;
            }
            .aam-item {
                left: 65%;
                top: 25%;
                width: 55%;
            }
            .blot-item {
                width: 100% !important;
                margin-left: 0px;
                .blot {
                    // flex-direction: row !important;
                    .blot-block {
                        width: calc(100% - 20px);
                        justify-content: center !important;
                        align-items: center !important;
                        margin-left: 0 !important;
                        img {
                            width: 70%;
                        }

                    }
                    .comics-text {
                        margin: auto 0 !important;
                        width: 100% !important;
                        justify-content: center !important;
                        h3 {
                            text-align: center;
                            font-size: 7vw;
                            width: 91.5% !important;
                            margin-bottom: 30px;
                        }
                        p  {
                            text-align: center;
                            font-size: 4vw;
                        }
                    }
                }
            }
            .metagun-item {
                margin-top: 10px !important;
                margin-bottom: 0 !important;
                width: 100% !important;
                img {
                    margin: 0 auto !important;
                    height: auto;
                    width: 75% !important;
                    z-index: 1;
                }
                h3 {
                    font-size: 7vw !important;
                    width: 100% !important;
                    margin-bottom: 0 !important;
                }
            }
        }
    }
    .block-10 {
        margin-top: 0px !important;
        .title {
            top: 20px !important;
            h2 {
                margin-top: 0 !important;
                font-size: 9.2vw !important;
            }
        }
        .three-pictures {
            .left-side, .right-side {
                width: 100% !important;
                picture {
                    width: 100% !important;
                    img {
                        width: fit-content !important;
                        height: 100% !important;
                    }
                }
            }
        }
        .frostspike-backstage {
            width: 100% !important;
            text-align: center !important;
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            display: flex !important;
            justify-content: center !important;
            img {
                height: auto !important;
                width: 50% !important;
                object-fit: cover;
            }
        }
        .moving-slaugterman {
            width: 24.5% !important;
            top: 97.5% !important;
        }
    }

    .block-11 {
        margin-top: 0 !important;
        margin-bottom: 50px !important;
        .top-block {
            flex-direction: row !important;
            span {
                font-size: 17.5vw !important;
                padding-left: 15px !important;
                padding-right: 15px !important;
                width: calc(35% - 30px)
            }
            h2 {
                font-size: 4vw !important;
                width: 65% !important;
            }
        }
        .bottom-block {
            flex-direction: row !important;
            .left-side {
                p {
                    font-size: 2.7vw !important;
                }
                .metagun {
                    width: 100% !important;
                }
                .slaugterman {
                    width: 100% !important;
                    left: 3% !important;
                }
            }
            .right-side {
                .orphan {
                    width: 100% !important;
                    left: 85%;
                    top: -80% !important;
                }
                .play-pause-btn {
                    left: 35% !important;
                    .play-btn, .pause-btn {

                        top: 100%;
                        img { 
                            width: 40% !important;
                        }
                    }
                }
            }
        }
    }

    .block-12 {
        h2 {
            font-size: 6.8vw !important;
        }
        p {
            font-size: 2.6vw !important;
        }
        span {
            font-size: 4vw !important;
        }
        img {
            width: 50% !important;
        }
    }
}