.welcome-block, .immortality-block, .game-against-rules {
    h1, h2, h3, p {

        font-family: $font-name-3;
    }
}

.welcome-block {
    .cover {
        position: absolute;
        top: 0;
        left: 0;
        height: 140vh;
        width: 100%;
        background: url(../images/first-image.png);
        background-size: cover;
        background-position: center;
    }
    .content {
        // width: 100%;
        max-height: 100%;
        .heading {
            position: relative;
            h1 {
                font-size: 10.5vw;
                margin-top: 10%;
                margin-bottom: 1%;
                line-height: 0.9;
                text-align: center;
            }
            .red-eye {
                position: absolute;
                width: 15%;
                left: 79%;
                top: 67%;
            }
        }
        .logo {
            width: 100%;
            .logo-svg {
                width: 17%
            }
        }
        .platform-and-genres {
            margin-top: 2%;
            align-items: center;
            .platform {
                margin-right: 50px;
            }
            .platform, .genres {
                .left {
                    h3 {
                        margin-bottom: 0;
                        margin-top: 0;
                        margin-right: 15px;
                        font-size: 1.6vw;
                    }
                }
                .right {
                    p {
                        margin-bottom: 0;
                        margin-top: 1px;
                    }
                }
            }
        }
        .welcome-bottom-text {
            margin-top: 15%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            width: 100%;
            p {
                text-align: end;
                margin-bottom: 0;
                margin-top: 0;
                font-size: 2.2vw;
            }
        }
    }
}
.immortality-block {
    .immortality-text {
        width: 40%;
        h2 {
            font-size: 2.8vw;
            margin-bottom: 0;
        }
        p {
            position: relative;
            left: 15%;
            font-size: 1.2vw;
        }
        .signer {
            position: relative;
            left: 30%;
            width: 20%
        }
    }
}

.game-against-rules {
    .container {
        .against-rules-text {
            justify-content: flex-end;
            width: 80%;
            // display: flex;
            // justify-content: flex-start !important;
            // text-align: center;
            // width: 25%;
            h3 {
                margin-bottom: 0;
                text-align: right;
            }
            p {
                position: relative;
                right: 5%;
                text-align: right;
                font-size: 1.2vw;
                font-weight: 200;
            }
        }
        .game-bottom-text {
            margin-top: 10%;
            justify-content: center;
            align-items: center;
            width: 80%;
            h2 {
                width: 90%;
                font-size: 2.8vw;
            }
            .cub {
                width: 10%;
            }
        }
    }
}
