<div class="pixel-bc-2000" id="pixel-bc-2000">

    <!-- 1 GROUP LEFT -->
    <svg class="pixel-2000 no-mobile variant-1" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="26" height="26" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="30" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="25" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="8" height="24" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="24" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>




    <svg class="pixel-2000 no-mobile variant-2" width="12" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="25" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="34" height="34" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="34" height="34" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="26" height="26" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>

    <!-- 1 GROUP RIGHT -->
    <svg class="pixel-2000 no-mobile variant-1" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="26" height="26" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="30" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="25" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="24" height="24" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="25" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="34" height="34" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="34" height="34" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="26" height="26" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>

    <!-- 2 GROUP LEFT -->
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="30" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="25" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="10" height="10" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="10" height="10" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>



    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="18" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>

    <!-- 2 GROUP RIGHT -->
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="30" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="25" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="10" height="10" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="10" height="10" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>



    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="18" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>

    <!-- 3 GROUP LEFT -->
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="13" height="13" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="13" height="13" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="30" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="8" height="17" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="17" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="10" height="10" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="10" height="10" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="6" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="6" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>

    <!-- 3 GROUP RIGHT -->
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="13" height="13" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="13" height="13" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="30" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="8" height="17" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="17" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="10" height="10" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="10" height="10" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="6" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="6" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>

    <!-- 4 GROUP LEFT -->
    <svg class="pixel-2000 no-mobile variant-1" width="7" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="7" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="10" height="10" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="10" height="10" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="25" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="10" height="10" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="10" height="10" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="34" height="34" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="34" height="34" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>

    <!-- 4 GROUP RIGHT -->
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="30" height="30" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="25" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="10" height="10" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="10" height="10" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="8" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="7" height="7" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="7" height="7" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="6" height="6" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="6" height="6" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="8" height="8" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="5" height="5" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="5" height="5" fill="white"/>
    </svg>    
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="34" height="34" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="34" height="34" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="11" height="11" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="11" height="11" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>

    <!-- 4 GROUP RIGHT -->
    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="7" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="7" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="25" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="10" height="10" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="10" height="10" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="8" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="15" height="15" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="15" height="15" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="9" height="9" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="9" height="9" fill="white"/>
    </svg>


    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="8" height="8" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="6" height="6" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="6" height="6" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="8" height="8" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="5" height="5" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="5" height="5" fill="white"/>
    </svg> 

    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="8" height="8" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="6" height="6" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="6" height="6" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="8" height="8" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="5" height="5" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="5" height="5" fill="white"/>
    </svg> 

    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="8" height="8" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="6" height="6" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="6" height="6" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="8" height="8" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="5" height="5" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="5" height="5" fill="white"/>
    </svg> 

    <svg class="pixel-2000 no-mobile variant-1" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#BE141B"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="14" height="14" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="8" height="8" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="6" height="6" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="6" height="6" fill="white"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-2" width="12" height="12" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="12" height="12" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-3" width="8" height="8" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="8" height="8" fill="#383838"/>
    </svg>
    <svg class="pixel-2000 no-mobile variant-1" width="5" height="5" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="5" height="5" fill="white"/>
    </svg> 
    <!-- 5 GROUP -->
    <!-- 6 GROUP -->
    <!-- 7 GROUP -->
    <!-- 8 GROUP -->

</div>