<div class="pixel-bc" id="pixel-bc">
    <svg class="pixel" width="25" height="35" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="35" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="26" height="26" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <!-- 0.4 - 0.6 VW-->
    <svg class="pixel" width="22" height="22" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="34" height="34" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="34" height="34" fill="#383838"/>
    </svg>
    <svg class="pixel" width="32" height="32" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="32" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="33" height="33" viewBox="0 0 70 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="33" height="33" fill="white"/>
    </svg>
    <!-- 0.2 - 0.39 VW-->
    <svg class="pixel" width="22" height="22" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel" width="34" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="34" height="20" fill="white"/>
    </svg>
    <svg class="pixel" width="22" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="30" fill="#383838"/>
    </svg>
    <!-- 0.61 - 0.8 VW-->
    <svg class="pixel" width="24" height="24" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="26" height="26" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel" width="34" height="34" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="34" height="34" fill="#383838"/>
    </svg>
    <svg class="pixel" width="33" height="33" viewBox="0 0 70 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="33" height="33" fill="white"/>
    </svg>
    <svg class="pixel" width="25" height="35" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="35" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="25" height="25" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="25" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="26" height="26" viewBox="0 0 70 45" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel" width="32" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="32" height="20" fill="#383838"/>
    </svg>
    <!-- 0 - 0.19 VW-->
    <svg class="pixel" width="26" height="26" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel" width="22" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="30" fill="#383838"/>
    </svg>
    <svg class="pixel" width="34" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="34" height="20" fill="white"/>
    </svg>
    <svg class="pixel" width="26" height="26" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="26" height="26" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <!-- 0 - 0.15 VW && 150 - 300 VH -->
    <svg class="pixel" width="20" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
    </svg>
    <svg class="pixel" width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel" width="20" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
    </svg>
    <svg class="pixel" width="25" height="25" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="25" fill="#383838"/>
    </svg>
    <!-- 0.85 - 1 VW && 150 - 300 VH -->
    <svg class="pixel" width="22" height="22" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
    </svg>
    <svg class="pixel" width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel" width="20" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel" width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="white"/>
    </svg>
    <svg class="pixel" width="22" height="22" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
</div>  