<div class="pixel-bc" id="pixel-bc">

    <!-- 0-0.1 VW && 0-0.4 VH -->
    <svg class="pixel no-mobile" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="33" height="33" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="33" height="33" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>

    <!-- 0.9-1 VW && 0-0.4 VH -->
    <svg class="pixel no-mobile" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="33" height="33" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="33" height="33" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile" width="36" height="36" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="36" height="36" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>

    <!-- 0.2-0.45 VW && 0-0.06 VH -->
    <svg class="pixel no-mobile" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="25" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="25" fill="#383838"/>
    </svg>

    <!-- 0.55-0.8 VW && 0-0.06 VH -->
    <svg class="pixel no-mobile" width="20" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="25" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile" width="21" height="21" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="21" height="21" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>

    <!-- 0-0.07VW && 0.93-1VW-->
    <!-- 0.4 - 1.2 VH -->
    <svg class="pixel no-mobile" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>

    <svg class="pixel no-mobile" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="25" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="25" fill="#383838"/>
    </svg>

    <!-- 1.25 - 2.3 VH -->
    <svg class="pixel no-mobile" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="20" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>

    <svg class="pixel no-mobile" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="21" height="21" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>

    <!-- 2.3 - 3.3 VH -->
    <svg class="pixel no-mobile" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="20" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>

    <svg class="pixel no-mobile" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile" width="21" height="21" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel no-mobile" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>


    <svg class="pixel-mob only-mobile" width="23" height="23" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="16" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="20" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="26" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="23" height="23" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="27" height="27" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="27" height="27" fill="#383838"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="21" height="21" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="21" height="21" fill="#BE141B"/>
    </svg>
    <!-- <svg class="pixel-mob only-mobile" width="23" height="23" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="16" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="22" fill="#BE141B"/>
    </svg> -->
    <!-- <svg class="pixel-mob only-mobile" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg> -->
    
    
    
    <svg class="pixel-mob only-mobile" width="16" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="22" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="26" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="#BE141B"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="26" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="#BE141B"/>
    </svg>    <svg class="pixel-mob only-mobile" width="23" height="23" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="16" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="26" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="#383838"/>
    </svg>    <svg class="pixel-mob only-mobile" width="23" height="23" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="16" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="26" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="#BE141B"/>
    </svg>
    <!-- <svg class="pixel-mob only-mobile" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="20" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="26" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="27" height="27" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="27" height="27" fill="#BE141B"/>
    </svg> -->
</div>  