<div class="pixel-bc" id="pixel-bc">

    <!-- 0-0.1 VW && 0-0.4 VH -->
    <!-- <svg class="pixel no-mobile variant-1" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="33" height="33" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="33" height="33" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg> -->
    <!-- <svg class="pixel no-mobile variant-3" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg> -->

    <!-- 0.9-1 VW && 0-0.4 VH -->
    <!-- <svg class="pixel no-mobile variant-1" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg> -->
    <!-- <svg class="pixel no-mobile variant-2" width="33" height="33" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="33" height="33" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg> -->
    <!-- <svg class="pixel no-mobile variant-2" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="28" height="28" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="28" height="28" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="24" height="30" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="30" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg> -->

    <!-- 0.2-0.45 VW && 0-0.06 VH -->
    <!-- <svg class="pixel no-mobile variant-4" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="25" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="25" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-4" width="18" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="#BE141B"/>
    </svg> -->

    <!-- 0.55-0.8 VW && 0-0.06 VH -->
    <!-- <svg class="pixel no-mobile variant-2" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="20" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="25" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="21" height="21" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="21" height="21" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-4" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-4" width="22" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="24" fill="#BE141B"/>
    </svg> -->

    <!-- 0-0.07VW && 0.93-1VW-->
    <!-- 0.4 - 1.2 VH -->
    <!-- <svg class="pixel no-mobile variant-1" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>

    <svg class="pixel no-mobile variant-1" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-4" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="25" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="25" fill="#383838"/>
    </svg>
        <svg class="pixel no-mobile variant-3" width="25" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="25" fill="#383838"/>
    </svg> -->

    <!-- 1.25 - 2.3 VH -->
    <!-- <svg class="pixel no-mobile variant-4" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="20" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
        <svg class="pixel no-mobile variant-4" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>

    <svg class="pixel no-mobile variant-4" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="21" height="21" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-3" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="17" height="17" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="17" height="17" fill="white"/>
    </svg> -->

    <!-- 2.3 - 3.3 VH -->
    <!-- <svg class="pixel no-mobile variant-1" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="20" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-4" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-4" width="18" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="22" fill="#383838"/>
    </svg>

    <svg class="pixel no-mobile variant-3" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="21" height="21" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="26" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="20" fill="#BE141B"/>
    </svg>

    <svg class="pixel no-mobile variant-4" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-4" width="18" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>

    <svg class="pixel no-mobile variant-3" width="24" height="24" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" fill="#BE141B"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="25" height="25" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="25" height="25" fill="white"/>
    </svg>
    <svg class="pixel no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel no-mobile variant-1" width="26" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="20" fill="#BE141B"/>
    </svg>


    <svg class="pixel-no-random pnr-1 no-mobile variant-3" width="16" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="16" fill="#BE141B"/>
    </svg>
    <svg class="pixel-no-random pnr-2 no-mobile variant-1" width="23" height="23" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-no-random pnr-3 no-mobile variant-2" width="19" height="19" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="19" height="19" fill="#383838"/>
    </svg>
    <svg class="pixel-no-random pnr-4 no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-no-random pnr-5 no-mobile variant-3" width="18" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="26" fill="#383838"/>
    </svg>
    <svg class="pixel-no-random pnr-6 no-mobile variant-1" width="16" height="16" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="16" fill="white"/>
    </svg>
    <svg class="pixel-no-random pnr-7 no-mobile variant-2" width="19" height="19" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="19" height="19" fill="#383838"/>
    </svg>
    <svg class="pixel-no-random pnr-8 no-mobile variant-3" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#BE141B"/>
    </svg>
    <svg class="pixel-no-random pnr-9 no-mobile variant-1" width="20" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-no-random pnr-10 no-mobile variant-2" width="16" height="16" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="16" fill="#383838"/>
    </svg>
    <svg class="pixel-no-random pnr-11 no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="#white"/>
    </svg>
    <svg class="pixel-no-random pnr-12 no-mobile variant-3" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel-no-random pnr-13 no-mobile variant-1" width="16" height="16" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="16" fill="#BE141B"/>
    </svg>
    <svg class="pixel-no-random pnr-14 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel-no-random pnr-15 no-mobile variant-2" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel-no-random pnr-16 no-mobile variant-3" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="14" height="14" fill="#BE141B"/>
    </svg>
    <svg class="pixel-no-random pnr-17 no-mobile variant-1" width="20" height="20" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-no-random pnr-18 no-mobile variant-2" width="16" height="16" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="16" fill="#383838"/>
    </svg>
    <svg class="pixel-no-random pnr-19 no-mobile variant-1" width="18" height="18" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="#BE141B"/>
    </svg>
    <svg class="pixel-no-random pnr-20 no-mobile variant-3" width="18" height="16" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="16" fill="white"/>
    </svg>
    <svg class="pixel-no-random pnr-21 no-mobile variant-1" width="19" height="19" viewBox="0 0 35 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="19" height="19" fill="#383838"/>
    </svg> -->







    <!-- MOB -->

    <!-- <svg class="pixel-mob only-mobile" width="23" height="23" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="16" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="#383838"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="20" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="26" fill="white"/>
    </svg> -->
    <!-- CENTER  -->
    <!-- <svg class="pixel-mob only-mobile" width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="20" height="20" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#383838"/>
    </svg> -->
    <!-- CENTER  -->
    <!-- <svg class="pixel-mob only-mobile" width="21" height="21" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="21" height="21" fill="#BE141B"/>
    </svg> -->
    <!-- <svg class="pixel-mob only-mobile" width="23" height="23" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="16" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="22" fill="#BE141B"/>
    </svg> -->
    <!-- <svg class="pixel-mob only-mobile" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg> -->
    
    
    
    <!-- <svg class="pixel-mob only-mobile" width="16" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="22" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="26" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="#BE141B"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="#383838"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="23" height="23" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="16" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="26" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="#BE141B"/>
    </svg>    
    <svg class="pixel-mob only-mobile" width="26" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="#383838"/>
    </svg>    
    <svg class="pixel-mob only-mobile" width="23" height="23" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="23" height="23" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="16" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="22" fill="#383838"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="14" height="14" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="26" height="26" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="26" height="26" fill="#BE141B"/>
    </svg> -->
    <!-- CENTER  -->
    <!-- <svg class="pixel-mob only-mobile" width="16" height="16" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="16" height="16" fill="#BE141B"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="18" height="18" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="18" fill="white"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="22" height="22" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="22" height="22" fill="#BE141B"/>
    </svg>
    <svg class="pixel-mob only-mobile" width="18" height="23" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="18" height="23" fill="#383838"/>
    </svg> -->
    <!-- CENTER  -->
</div>  