<div class="footer-margin"></div>
<section class="footer flex-end" id="footer">
    <div class="container">
        <div class="flex-col form">
            <p>Напишите нам</p>
            <form class="flex-row no-wrap space-between" action="" method="POST" id="form" class="flex-col no-wrap">
                <input type="hidden" name="act" value="order">
                <input required type="text" name="name" id="name" placeholder="Имя">
                <input required type="tel" name="phone" id="phone" placeholder="Телефон">
                <button class="btn gold" type="submit" value=""><p>Отправить</p></button>
            </form>
        </div>
        <div class="footer_heading flex-col">
            <div class="top-content">
                <img src="/images/logo-full.svg" alt="">
            </div>
            <div class="bottom-content flex-row flex-end">
                <p class="text-corp-1">Россия, Москва</p>
                <div class="social">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50"
                            height="50" viewBox="0 0 50 50">
                            <defs>
                                <linearGradient id="a" y1="1" x2="1" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#0f7dd1" />
                                    <stop offset="1" stop-color="#3ec0ff" />
                                </linearGradient>
                            </defs>
                            <g transform="translate(-654.32 -193.02)">
                                <rect width="50" height="50" rx="10" transform="translate(654.32 193.02)"
                                    fill="url(#a)" />
                                <path
                                    d="M2411.151,1491.245c-.06.838-.539,3.773-1.018,6.947l-1.5,9.4s-.12,1.377-1.138,1.617-2.7-.839-2.995-1.078c-.24-.18-4.492-2.875-6.049-4.192a1.135,1.135,0,0,1,.06-1.917c2.156-1.976,4.731-4.432,6.288-5.989.719-.719,1.438-2.4-1.557-.359l-8.445,5.69a3.519,3.519,0,0,1-2.755.06c-1.8-.539-3.893-1.258-3.893-1.258s-1.437-.9,1.018-1.857h0l13.955-5.749c1.377-.6,6.049-2.515,6.049-2.515S2411.33,1489.208,2411.151,1491.245Z"
                                    transform="translate(-1721.816 -1281.14)" fill="#fff" />
                            </g>
                        </svg>
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50"
                            height="50" viewBox="0 0 50 50">
                            <defs>
                                <linearGradient id="a" y1="1" x2="1" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#4ab161" />
                                    <stop offset="1" stop-color="#60fc7c" />
                                </linearGradient>
                            </defs>
                            <g transform="translate(-654.32 -193.02)">
                                <rect width="50" height="50" rx="10" transform="translate(654.32 193.02)"
                                    fill="url(#a)" />
                                <path
                                    d="M7874.551-7963.171a11.305,11.305,0,0,1-1.424-5.479,11.354,11.354,0,0,1,11.341-11.341,11.354,11.354,0,0,1,11.341,11.341,11.354,11.354,0,0,1-11.341,11.341,11.286,11.286,0,0,1-5.39-1.376l-6.173,1.657Zm5.223,2.418a9.186,9.186,0,0,0,4.694,1.3,9.206,9.206,0,0,0,9.2-9.2,9.206,9.206,0,0,0-9.2-9.2,9.206,9.206,0,0,0-9.2,9.2,9.164,9.164,0,0,0,1.344,4.768l.239.393-.92,3.431,3.448-.926Zm5.777-3.255a9.282,9.282,0,0,1-1.946-.925,11.039,11.039,0,0,1-3.12-2.9,11.845,11.845,0,0,1-.72-1.093,5.864,5.864,0,0,1-.689-1.588,3.083,3.083,0,0,1-.089-.72,2.854,2.854,0,0,1,.989-2.264,1.3,1.3,0,0,1,1.409-.21,3.03,3.03,0,0,1,.943,1.426,2.341,2.341,0,0,1,.3,1.28,2.5,2.5,0,0,1-.668,1.086.447.447,0,0,0-.057.612,7.369,7.369,0,0,0,3.67,3.146.408.408,0,0,0,.524-.115c.271-.337.541-1,.963-1.17a1.913,1.913,0,0,1,1.625.365c.435.262,1.162.578,1.277,1.118a1.285,1.285,0,0,1-.095.78,2.742,2.742,0,0,1-2.053,1.526,2.733,2.733,0,0,1-.5.048A5.55,5.55,0,0,1,7885.551-7964.008Z"
                                    transform="translate(-7204.133 8186.833)" fill="#fff" stroke="rgba(0,0,0,0)"
                                    stroke-width="1" />
                            </g>
                        </svg>
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50"
                            height="50" viewBox="0 0 50 50">
                            <defs>
                                <linearGradient id="a" y1="1" x2="1" gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#2160aa" />
                                    <stop offset="1" stop-color="#2b8efe" />
                                </linearGradient>
                            </defs>
                            <g transform="translate(-654.32 -193.02)">
                                <rect width="50" height="50" rx="10" transform="translate(654.32 193.02)"
                                    fill="url(#a)" />
                                <path
                                    d="M42.374,38.211l.591-3.853h-3.7v-2.5a1.927,1.927,0,0,1,2.172-2.082h1.68V26.5a20.505,20.505,0,0,0-2.983-.26c-3.045,0-5.035,1.846-5.035,5.186v2.937H31.718v3.853H35.1v9.315a13.513,13.513,0,0,0,4.166,0V38.211Z"
                                    transform="translate(641.901 181.059)" fill="#fff" />
                            </g>
                        </svg>
                    </a>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50"
                            height="50" viewBox="0 0 50 50">
                            <defs>
                                <linearGradient id="a" x1="-0.134" y1="1.307" x2="1.061" y2="-0.07"
                                    gradientUnits="objectBoundingBox">
                                    <stop offset="0" stop-color="#5b4fe9" />
                                    <stop offset="0.188" stop-color="#8f39ce" />
                                    <stop offset="0.397" stop-color="#d53692" />
                                    <stop offset="0.611" stop-color="#f75274" />
                                    <stop offset="0.807" stop-color="#f5c878" />
                                    <stop offset="1" stop-color="#fbe18a" />
                                </linearGradient>
                            </defs>
                            <g transform="translate(-654.32 -193.02)">
                                <rect width="50" height="50" rx="10" transform="translate(654.32 193.02)"
                                    fill="url(#a)" />
                                <g transform="translate(667.064 205.764)">
                                    <circle cx="1.437" cy="1.437" r="1.437" transform="translate(17.309 4.377)"
                                        fill="#fff" />
                                    <path
                                        d="M147.895,29.818a6.037,6.037,0,1,0,6.037,6.037A6.044,6.044,0,0,0,147.895,29.818Zm0,9.9a3.867,3.867,0,1,1,3.867-3.867A3.871,3.871,0,0,1,147.895,39.722Z"
                                        transform="translate(-135.538 -23.599)" fill="#fff" />
                                    <path
                                        d="M155.615,50.992h-9.786a7.371,7.371,0,0,1-7.363-7.363V33.842a7.371,7.371,0,0,1,7.363-7.363h9.786a7.371,7.371,0,0,1,7.363,7.363v9.786A7.371,7.371,0,0,1,155.615,50.992Zm-9.786-22.207a5.063,5.063,0,0,0-5.057,5.057v9.786a5.063,5.063,0,0,0,5.057,5.057h9.786a5.063,5.063,0,0,0,5.057-5.057V33.842a5.063,5.063,0,0,0-5.057-5.057Z"
                                        transform="translate(-138.465 -26.479)" fill="#fff" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <p class="text-corp-3">© <span id="year"></span> FUN&FRESH</p>
            </div>
        </div>
    </div>
</section>
<script src="scripts.min.js?ver=<?= rand(1, 9999); ?>"></script>
</body>

</html>