<section class="footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-columns flex-row space-between">
                <div class="column flex-col">
                    <h3>product</h3>
                    <p>home</p>
                    <p>games</p>
                    <p>privacy policy</p>
                    <p>video policy</p>
                </div>
                <div class="column flex-col">
                    <h3>about</h3>
                    <p>news</p>
                    <p>two7two studio</p>
                    <p>careers</p>
                    <p>contact</p>
                </div>
                <div class="column flex-col">
                    <h3>additional</h3>
                    <p>blog</p>
                    <p>discord</p>
                </div>
                <div class="column social-pictures">
                    
                </div>
            </div>
            <div class="footer-bottom-text justify-center">
                <p>Copyright © two7two studio. All Rights Reserved</p>
            </div>
        </div>
    </div>
</section>
<script src="scripts.min.js?ver=<?= rand(1, 9999); ?>"></script>
</body>

</html>