<section class="case-block images-30-70">
    <div class="container flex-row no-wrap">
        <picture>
            <source srcset="./images/@@first-image-source.webp" type="image/webp">
            <img src="./images/@@first-image-source.jpg">
        </picture>
        <div class="margin-block"></div>
        <picture>
            <source srcset="./images/@@second-image-source.webp" type="image/webp">
            <img src="./images/@@second-image-source.jpg">
        </picture>
    </div>
</section>