<section class="more-cases">
    <div class="container relative">
        <div class="more-cases-Swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/preview-axios.webp" type="image/webp">
                        <img src="./images/preview-axios.jpg">
                    </picture>
                    <p>Axios</p>
                    <p>axios</p>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/preview-dislexia.webp" type="image/webp">
                        <img src="./images/preview-dislexia.jpg">
                    </picture>
                    <p>Dislexia</p>
                    <p>Dislexia</p>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/preview-inc88.webp" type="image/webp">
                        <img src="./images/preview-inc88.jpg" style="height: 100% !important">
                    </picture>
                    <p>Inc88</p>
                    <p>Inc88</p>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/preview-lesrf.webp" type="image/webp">
                        <img src="./images/preview-lesrf.jpg">
                    </picture>
                    <p>Lesrf</p>
                    <p>Lesrf</p>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/preview-lord.webp" type="image/webp">
                        <img src="./images/preview-lord.jpg">
                    </picture>
                    <p>Lord</p>
                    <p>Lord</p>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/preview-ownex.webp" type="image/webp">
                        <img src="./images/preview-ownex.jpg">
                    </picture>
                    <p>Ownex</p>
                    <p>Ownex</p>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/preview-party.webp" type="image/webp">
                        <img src="./images/preview-party.jpg">
                    </picture>
                    <p>Party</p>
                    <p>Party</p>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/preview-realclinic.webp" type="image/webp">
                        <img src="./images/preview-realclinic.jpg">
                    </picture>
                    <p>Real clinic</p>
                    <p>Real clinic</p>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/preview-rell.webp" type="image/webp">
                        <img src="./images/preview-rell.jpg">
                    </picture>
                    <p>Rell</p>
                    <p>Rell</p>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/preview-yeslist.webp" type="image/webp">
                        <img src="./images/preview-yeslist.jpg">
                    </picture>
                    <p>Yeslist</p>
                    <p>Yeslist</p>
                </div>
            </div>
        </div>
    </div>
</section>